* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 20px;
}

.page {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  margin-bottom: 20px;
}

.section__title {
  margin-bottom: 15px;
}

.code {
  color: #203352;
  background: #ffe8ed;
  box-shadow: 0 0 4px #ffe8ed;
  padding: 1px 4px;
  border-radius: 4px;
}

.task {
  border: 1px solid lightblue;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.task__code {
  border-radius: 5px;
}

.task__btn {
  cursor: pointer;
  border: 1px solid rgb(173, 216, 230);
  border-radius: 5px;
  padding: 5px 20px;
  box-shadow: 1px 1px 5px rgba(173, 216, 230, 1);
  background: lightcyan;

  transition: all .5s;
}

.task__btn:hover {
  background: rgb(208, 236, 236);
}

.task__btn:active {
  box-shadow: none;
}

.comparison-table {
  border-collapse: collapse;
  margin: 20px 0;
}

.comparison-table th,
.comparison-table td {
  border: 1px solid black;
  padding: 0 10px;
}

.comparison-table th {
  text-align: center;
}

.comparison-table td {
  text-align: right;
}

code {
  counter-reset: num-line;
}

.code-line {
  position: relative;
  padding-left: 50px;
}

.code-line:before {
  counter-increment: num-line;
  content: counter(num-line) ' |';
  text-align: right;
  position: absolute;
  width: 50px;
  left:  0px;
  color: rgba(135, 206, 250, .3);
}
